<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
     <bean name="colo" class="com.spring.list.color">
     <property name="color">
     <list>
     <value>green</value>
     <value>blue</value>
     <value>black</value>
     <value>white</value>
     </list>
     </property>
     </bean>

</beans>